{% extends "base.html" %}

{% block content %}
    <h1 style="margin-bottom:30px">Leaderboard</h1>


    <p style="margin-bottom:30px">Last submission by {{ last_prediction_team_name }} at {{ last_prediction_timestamp }}</p>

    <table style="width:100%" class="ui single line table">
        <thead>
            <tr>
                <th style="text-align:center">Rank</th>
                <th style="text-align:center">Team Name</th>
                <th style="text-align:center">Global score</th>
                <th style="text-align:center">Liberty US Score</th>
                <th style="text-align:center">Liberty Spain Score</th>
            </tr>
        <thead>
        <tbody>
        {% for _, t in teams_with_best_score_sorted.items() %}
            {{ counter.increment() }}
             <tr>
                <td style="text-align:center">{{ counter.count }}</td>
                <td style="text-align:center">{{ t.team.name }}</td>
                <td style="text-align:center">{{'%0.3f'|format(t.score|float)}}</td>
                <td style="text-align:center">{{'%0.3f'|format(t.prediction.score_LibertyUs|float)}}</td>
                <td style="text-align:center">{{'%0.3f'|format(t.prediction.score_LibertySpain|float)}}</td>
            </tr>
        {% endfor %}
        <tbody>
    </table>

{% endblock %}