{% extends "base.html" %}

{% block content %}

  <h1>Overview</h1>

  <div>Internal kaggle competition to improve the scoring models used to predict a score to each Force alert.
  There are two datasets from two existing clients: Liberty US and Liberty Spain
  </div>
  <div>To submit a result, you need to follow the below steps in the order:</div>
  <ul>
    <li>Create team</li>
    <li>Download datasets</li>
    <li>Upload predictions</li>
    <li>Access to leaderboard</li>
  </ul>

{% endblock %}