{% extends "base.html" %}

{% block content %}

  <h1>Overview</h1>

  <div>Internal kaggle competition to improve the scoring models used to predict a score to each Force alert.
  There are two datasets from two existing clients: Liberty US and Liberty Spain
  </div>
  <div>To submit a result, you need to follow the below steps in the order:</div>
  <ul>
    <li>Create team</li>
    <li>Download datasets</li>
    <li>Upload predictions</li>
    <li>Access to leaderboard</li>
  </ul>
  <p></p>
  <div>The submitted files need to have a specific format as below:</div>
  <div class="ui segment" style="padding-bottom:0px;">
  <pre>
    <code>
      id;status
      1;0
      2;1
      3;1
      4;0
    </code>
  </pre>
</div>

{% endblock %}