{% block content %}
    <h1>Register Team</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.team_name.label }}<br>
            {{ form.team_name(size=32) }}
        </p>
        <p>
            {{ form.team_member_1.label }}<br>
            {{ form.team_member_1(size=32) }}
        </p>
        <p>
            {{ form.team_member_2.label }}<br>
            {{ form.team_member_2(size=32) }}
        </p>
        <p>
            {{ form.team_member_3.label }}<br>
            {{ form.team_member_3(size=32) }}
        </p>
        <p>
            {{ form.team_member_4.label }}<br>
            {{ form.team_member_4(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}